html, 
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    height: 60px;
    align-items: center;
    font-weight: 700px;
    font-size: 13.5px;
    padding: 0 1em;
}

.nav-menu{
    margin-left: auto;
    display: flex;
    gap: 2em;
    font-size: 12px;
    font-weight: 600;
}

.nav-image{
    width: 23px;
    height: 23px;
    padding-right: 0.35em
}

.main-section{
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("images/header-bg.png");
    background-size: cover;
    margin: 0;
    padding: 5em 2em 1em 1em;
    color: white;
}

.main-header{
    font-size: 2em;
    font-weight: 700;
    margin: 10px 0 0 0;
}

.main-date{
    margin: 0;
}

.main-txt{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25em;
    margin: 10px 0 20px 0;
}

.blog-item{
    margin-top: 2em;
    padding: 0 1em 1em 1em;
}

.blog-img{
    border-radius: 3px;
    width: 100%;
}

.blog-date{
    margin: 14px 0 0 0;
}
.blog-header{
    font-size: 1.5em;
    font-weight: 700;
    margin: 9px 0 0 0;
}

.blog-txt{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25em;
    margin: 9px 0 0 0;
}

.view-more{
    display: block;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-decoration-line: underline;
    margin: 27px 0 43px 0;
    color: black;
}

footer{
    font-family: 'Source Sans Pro', sans-serif;
    height: 105px;
    background: #202020;
    color: white;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer h1{
    display: block;
    font-weight: 700;
    font-size: 12px;
}

footer h2{
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    margin: 0;
}

@media (min-width: 550px){
    .main-section{
        height: 488px;
        width: 100%;
        display: grid;
        padding: 0;
        grid-template-rows: 190px auto auto auto 2em;
        grid-template-columns: 2em 1fr 0.75fr;  
    }
    
    .main-date,
    .main-header,
    .main-txt{
        grid-column: 2/3;
    }
    .main-date{
        grid-row: 2;
    }
    
    .main-header{
        grid-row: 3;
        font-size: 2em;
    }
    
    .main-txt{
        grid-row: 4;
        font-size: 1.2em
    }

    .blogs{
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 1em;
    }
}